html {
	font-size: 62.5%;
}

body {
	font-family: 'Comic Neue', sans-serif;
	height: 100vh;
	box-sizing: border-box;
	padding: 2rem;
	background-color: cornflowerblue;
}

#wrapper {
	box-sizing: border-box;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(2, max-content) 1fr 1fr;
	grid-template-areas:
		'title'
		'score'
		'equation'
		'answers';
	border-radius: 1rem;
	padding: 2rem;
	background-color: white;
	box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
	-webkit-box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
	-moz-box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
}

h1,
h3,
p {
	width: 100%;
	text-align: center;
}

button {
	border: none;
	border-radius: 50%;
	box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
	-webkit-box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
	-moz-box-shadow: 0px 2px 10px -3px rgba(43, 43, 43, 1);
	padding: 0;
	width: 7rem;
	height: 7rem;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	font-size: 5rem;
	cursor: pointer;
	text-align: center;
}

#gameTitle {
	grid-area: 'title';
	margin: 0;
	padding: 2rem 0;
	font-size: 5rem;
}

#score {
	grid-area: 'score';
	margin: 0;
	padding: 2rem 0;
	font-size: 3rem;
}

#equation {
	grid-area: 'equation';
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7rem;
}

#answers {
	grid-area: 'answers';
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}

@media only screen and (min-width: 600px) {
	html {
		font-size: 100%;
	}
}
